{% extends  '::card_action.html.twig' %}
{% block card_title %}<div class="center">Profile</div>{% endblock %}
{% block card_content %}
    <div class="row">
        <div class="col s12">
            <div>
                <label>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }} :</label>
                <p>{{ user.username }}</p>

            </div>
            <div>
                <label>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }} :</label>
                <p>{{ user.email }}</p>
            </div>
        </div>
    </div>
{% endblock card_content %}

{% block card_action %}
    <a class="btn" href="{{ path('fos_user_profile_edit') }}">{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}
    </a>
{% endblock card_action %}