{% extends 'AppBundle::base.html.twig' %}
{% block body %}
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">{{ block('title') }}</span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    {% block topMenu %}{% endblock %}
                    {% block userMenu %}
                    {% if app.user %}
                        <a class="mdl-navigation__link" href="{{ path('logout') }}">Logout</a>
                    {% else %}
                        <a class="mdl-navigation__link" href="{{ path('login') }}">Login</a>
                    {% endif %}
                    {% endblock %}
                </nav>
            </div>
        </header>
        {% block sidebar %}
            <div class="mdl-layout__drawer">
                <span class="mdl-layout-title">Tub</span>
                <nav class="mdl-navigation">
                    {% block sideMeny %}{% endblock %}
                    <a class="mdl-navigation__link" href="{{ path('lane_list') }}">Lanes</a>
                    <a class="mdl-navigation__link" href="{{ path('stop_list') }}">Stops</a>
                    <hr>
                    {{  block("userMenu") }}
                </nav>
            </div>
        {% endblock %}
        <main class="mdl-layout__content">

            <!-- Your content goes here -->
            <div class="page-content">
                {% block pageContent %}{% endblock %}
            </div>
        </main>

    </div>
{% endblock %}

