{% extends  '::card.html.twig' %}
{% block card_title %}Register{% endblock %}
{% block card_content %}
    <form id="register_form" method="post">
        {{ form_row(form._token) }}
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{ form_label(form.username) }}
            {{ form_widget(form.username) }}
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{ form_label(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first) }}
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{ form_label(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second) }}
            <span class="mdl-textfield__error">{{ form_errors(form.plainPassword) }}</span>
        </div>
    </form>
{% endblock card_content %}

{% block card_border %}
    <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit"
            form="register_form"
            formaction="{{ path('fos_user_registration_register') }}">{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}
    </button>
{% endblock card_border %}
