{% extends "::card_info.html.twig" %}
    {% block card_title %}
        Clients
        {% if is_granted('ROLE_ADMIN') %}
            <div class="right">
                <a class="btn-floating" href="{{ path('oauth_client_create') }}"><i
                            class="material-icons">add</i></a>
            </div>
        {% endif %}
    {% endblock card_title %}
{% block card_content %}
    {% if clients | length==0 %}
        <h1>There is no Clients here !</h1>
    {% else %}
        <table class="striped responsive-table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Random Id</th>
                <th>Redirect Uris</th>
                <th>Allowed Grant Types</th>
            </tr>
            </thead>
            <tbody>
            {% for client in clients %}
                <tr>
                    <td>{{ client.id }}</td>
                    <td>
                        {{ client.label }}
                    </td>
                    <td>
                        {{ client.randomId }}
                    </td>
                    <td>
                        {% if client.redirectUris %}
                            {% for redirectUri in client.redirectUris %}
                                {{ redirectUri }} <br/>
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td>
                        {% if client.allowedGrantTypes %}
                            {% for allowedGrantType in client.allowedGrantTypes %}
                                {{ allowedGrantType }} <br/>
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock card_content %}