{% extends  '::card_action.html.twig' %}
{% block card_title %}<div class="center">Change Password</div>{% endblock %}
{% block card_content %}
    <div class="row">
        <form class="col s12" id="change_password_form" method="post" action="{{ path('fos_user_change_password') }}">
            {{ form_row(form._token) }}
            <div class="input-field col s12">
                {{ form_label(form.current_password) }}
                {{ form_widget(form.current_password) }}
            </div>
            <div class="input-field col s12">
                {{ form_label(form.plainPassword.first) }}
                {{ form_widget(form.plainPassword.first) }}
            </div>
            <div class="input-field col s12">
                {{ form_label(form.plainPassword.second) }}
                {{ form_widget(form.plainPassword.second) }}
            </div>
        </form>
    </div>
{% endblock card_content %}

{% block card_action %}
    <button class="btn" type="submit"
            form="change_password_form">{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}
    </button>
{% endblock card_action %}