{% extends  '::card.html.twig' %}
{% block card_title %}Change Password{% endblock %}
{% block card_content %}

    <form id="change_password_form" method="post">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{ form_label(form.current_password) }}
            {{ form_widget(form.current_password) }}
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{ form_label(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first) }}
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            {{ form_label(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second) }}
        </div>
    </form>
{% endblock card_content %}

{% block card_border %}
    <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit"
            form="change_password_form"
            formaction="{{ path('fos_user_profile_edit') }}">{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}
    </button>
{% endblock card_border %}