{% extends '::base_nav.html.twig' %}
{% block title %}Stops{% endblock %}
{% block pageContent %}
    <div class="mdl-grid">
        {% if stops | length==0 %}
            <div class="mdl-card mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone mdl-cell--3-offset-desktop mdl-cell--1-offset-tablet mdl-shadow--6dp">
                <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
                    <h2 class="mdl-card__title-text">{{ block('title') }}</h2>

                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="mdl-layout-spacer"></div>
                        <!-- FAB button with ripple -->
                        <a class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored"
                           href="{{ path('stop_create') }}">
                            <i class="material-icons">add</i>
                        </a>
                    {% endif %}
                </div>
                <div class="mdl-card__supporting-text">
                    <h1>There is no Stops here !</h1>
                </div>
            </div>
        {% else %}


            <table class="mdl-cell mdl-cell--6-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone mdl-cell--3-offset-desktop mdl-cell--1-offset-tablet mdl-data-table mdl-js-data-table {% if is_granted('ROLE_ADMIN') %} mdl-data-table--selectable{% endif %} mdl-shadow--2dp">
                <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Name</th>
                    <th class="mdl-layout--large-screen-only">Latitude</th>
                    <th class="mdl-layout--large-screen-only">Longitude</th>
                    <th></th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th>

                        </th>
                        <td><a href="#"
                            onclick="">
                                <i class="material-icons">delete</i>
                            </a></td>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for stop in stops %}
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric">{{ stop.label }}</td>
                        <td class="mdl-layout--large-screen-only">
                            {{ stop.latitude }}
                        </td>
                        <td class="mdl-layout--large-screen-only">
                            {{ stop.longitude }}
                        </td>
                        <td>
                            <a class="mdl-list__item-secondary-action"
                               href="{{ path('stop_detail',{'id':stop.id}) }}">
                                <i class="material-icons">info</i>
                            </a>
                        </td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td>
                                <a class="mdl-list__item-secondary-action"
                                   href="{{ path('stop_update',{'id':stop.id}) }}">
                                    <i class="material-icons">edit</i>
                                </a>
                            </td>
                            <td>
                                <a class="mdl-list__item-secondary-action" href="#"
                                   onclick="openDeleteConfirmationDialog({{ stop.id }})">
                                    <i class="material-icons">delete</i>
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <dialog id="dialog-stop-delete-confirmation" class="mdl-dialog">
            <h4 class="mdl-dialog__title">Do you really want to delete this Stop ?</h4>
            <div class="mdl-dialog__actions">
                <button type="button" class="mdl-button close" onclick="closeDeleteConfirmationDialog()">No</button>
                <button type="button" class="mdl-button" onclick="deleteStop()">Yes</button>
            </div>
        </dialog>

        <!-- Colored FAB button with ripple -->
        <a id="fab-button" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored"
        href="{{ path('stop_create') }}">
            <i class="material-icons">add</i>
        </a>
    {% endif %}
{% endblock %}

{% block stylesheets %}

    <style>
        #fab-button{
            position: absolute;
            bottom: 5%;
            right: 5%;
        }
    </style>
{% endblock %}

 {% block javascripts %}
     <script type="text/javascript">
         {% if is_granted('ROLE_ADMIN') %}
         var stopIdToDelete;
         function openDeleteConfirmationDialog(id){
             var dialog = document.querySelector('#dialog-stop-delete-confirmation');
             stopIdToDelete=id;
             dialog.showModal();
         }
         function closeDeleteConfirmationDialog() {
             var dialog = document.querySelector('#dialog-stop-delete-confirmation');
             dialog.close();
         }
         function deleteStop(){
             window.location.href = "/admin/stop/delete/"+stopIdToDelete;
         }
         {% endif %}
     </script>
 {% endblock %}