{% extends  '::card.html.twig' %}
{% block card_title %}Login{% endblock %}
{% block card_content %}
    <form id="login_form" method="post">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input id="username" name="_username" class="mdl-textfield__input" type="text"
                   content="{{ last_username }}" required/>
            <label class="mdl-textfield__label"
                   for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input id="password" name="_password" class="mdl-textfield__input" type="password"
                   required/>
            <label class="mdl-textfield__label"
                   for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
        </div>
        <div>
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="remember_me">
                <input type="checkbox" id="remember_me" class="mdl-checkbox__input" name="_remember_me" checked/>
                <span class="mdl-checkbox__label">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</span>
            </label>
        </div>
    </form>
    {% if error %}
            <p class="center">{{ error|trans({}, 'FOSUserBundle') }}</p>
    {% endif %}
{% endblock card_content %}

{% block card_border %}
    <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit"
            form="login_form"
            formaction="{{ path('fos_user_security_check') }}">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}
    </button>
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" type="submit"
       href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}
    </a>
{% endblock card_border %}
