{% extends '::tub_base.html.twig' %}
{% block title %}Lines{% endblock %}
{% block page_content %}
    <div class="row">
        {% include 'TubBundle:Line:list_content.html.twig' %}
    </div>
    {% if lines | length!=0 %}
        {% for line in lines %}
            <!-- Modal Structure -->
            <div id="dialog-line-{{ line.id }}" class="modal modal-fixed-footer">
                <div class="modal-content">
                    <h4>{{ line.label }}</h4>
                    <div>
                        <h5>Outbound :</h5>
                        <div>
                            {% for stopGroup in line.stopGroups %}
                                {% if stopGroup.way =='O' %}
                                    <div class="chip">
                                        {{ stopGroup.stop.label }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <h5>Inbound :</h5>
                        <div>
                            {% for stopGroup in line.stopGroups %}
                                {% if stopGroup.way =='I' %}
                                    <div class="chip">
                                        {{ stopGroup.stop.label }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect btn-flat ">Close</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        <dialog id="dialog-line-delete-confirmation" class="modal">
            <h4 class="mdl-dialog__title">Do you really want to delete this Line ?</h4>
            <div class="mdl-dialog__actions">
                <button type="button" class="mdl-button close" onclick="closeDeleteConfirmationDialog()">No
                </button>
                <button type="button" class="mdl-button" onclick="deleteLine()">Yes</button>
            </div>
        </dialog>
    {% endif %}
{% endblock %}


    {% block stylesheets %}
        {{ parent() }}
        <style>
            .line-text-container {
                font-size: 12vh;
                color: black;
                text-align: center;
                cursor: pointer;
            }
        </style>
    {% endblock %}

    {% block scripts %}
        {{ parent() }}
        <script>
            function openLineDetail(lineId) {
                console.log("open line detail of " + lineId);
                $('#dialog-line-' + lineId).modal('open');
            }

            {% if is_granted('ROLE_ADMIN') %}
            var lineIdToDelete;
            function openDeleteConfirmationDialog(id) {
                var dialog = document.querySelector('#dialog-line-delete-confirmation');
                lineIdToDelete = id;
                dialog.showModal();
            }
            function closeDeleteConfirmationDialog() {
                var dialog = document.querySelector('#dialog-line-delete-confirmation');
                dialog.close();
            }
            function deleteLine() {
                window.location.href = "/admin/line/delete/" + lineIdToDelete;
            }
            function createLine() {
                window.location.href = "{{ path('line_create') }}";
            }
            {% endif %}
            $(document).ready(function () {
                // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
                $('.modal').modal();
            });
        </script>
    {% endblock %}